body{
  margin: 0;
  padding: 0;
}
.try {
  height: 240px;
  display: flex;
  align-items: center;
  background: #27ae61;
  justify-content: center;
  color: #fff;
  font-family: 'Raleway';
  font-size: 1.5rem;
}